<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao${KAKAO_LOGIN_NATIVE_APP_KEY}</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(APP_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FacebookAppID</key>
	<string>1581306157023704</string>
	<key>FacebookClientToken</key>
	<string>7283d0be910e8efe54f36fa44cffa2c3</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookSKAdNetworkReportEnabled</key>
	<true/>
	<key>KAKAO_LOGIN_NATIVE_APP_KEY</key>
	<string>$(KAKAO_LOGIN_NATIVE_APP_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
		<string>nmap</string>
		<string>kakaomap</string>
		<string>comgooglemaps</string>
		<string>kakaokompassauth</string>
	</array>
	<key>NMFNcpKeyId</key>
	<string>$(NAVER_MAPS_CLIENT_ID)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>mx2.co.kr</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>photoqr3.kr</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>QR_WEBHOOK_URL</key>
	<string>$(QR_WEBHOOK_URL)</string>
	<key>TEMPORARY_ACCESS_TOKEN</key>
	<string>$(TEMPORARY_ACCESS_TOKEN)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
	</array>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
</dict>
</plist>
