<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NMFNcpKeyId</key>
	<string>${NAVER_MAPS_CLIENT_ID}</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>${NSLocationWhenInUseUsageDescription}</string>
	<key>NSCameraUsageDescription</key>
	<string>$(NSCameraUsageDescription)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>nmap</string>
		<string>kakaomap</string>
		<string>comgooglemaps</string>
	</array>
	<key>NMFNcpKeyId</key>
	<string>${NAVER_MAPS_CLIENT_ID}</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-Regular.otf</string>
		<string>Pretendard-SemiBold.otf</string>
	</array>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
</dict>
</plist>
